.popupContainer {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    cursor: pointer;
    align-self: center;
    place-self: center;
}

.notification {
    padding: 16px 16px;
    max-width:  800px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    display: flex;
    gap: 40px;
    transition: opacity 0.3s ease-in-out;
}

.info {
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
}

.text {
    flex: 1;
}

.user {
    font-weight: 600;
}

.highlight {
    color: #ccc;
    font-weight: 500;
    font-style: italic;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.accept {
    background: #FFFFFF;
    border-radius: 16px;
    color: #222222;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    transition: 0.2s ease;

}

.decline {
    border-radius: 16px;
    padding: 6px 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 14px;
    background: #272727;
    transition: 0.2s ease;
}
.declined {
    color:rgb(226, 96, 96);
}
.accepted {
    color: yellowgreen;
}
.accept:hover {
    opacity: 0.8;
}

.decline:hover {
    opacity: 0.8;
}