body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #0A0A0A;
    color: white;
}

.logo {
    width: 84px;
    height: 24px;
}

.layout {
    display: flex;

}

.sidebar {
    margin: 24px 29px 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 200px;
}

.navBar {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

.navLink {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 12px;
    border-radius: 8px;
    transition: background-color 0.2s ease;
    opacity: 0.4;
}

.navLink:hover {
    background-color: #1a1a1a;
}

.navLink.active {
    opacity: 1;
    background-color: rgba(255, 255, 255, 0.267);
}

.navLink img {
    width: 20px;
    height: 20px;
}