body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
}

input,
textarea {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.103);
    color: white;
    padding: 10px;
    border-radius: 6px;
}
.flex {
    display: flex;
    gap: 8px;
}
.col {
    flex-direction: column;
}
.grw {
    flex-grow: 1;
    min-width: 20px;
}