.letterAvatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ffffff44;
  background-color: rgba(255, 255, 255, 0.103);
  border-radius: 50%;
  font-weight: bold;
  color: #ebebeb;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.avatar {
  border-radius: 50%;
  border: 1px solid #ffffff44;
}
.xs {
  width: 20px;
  height: 20px;
  font-size: 12px;
}

.md {
  width: 32px;
  height: 32px;
  font-size: 16px;
}

.big {
  width: 40px;
  height: 40px;
  font-size: 18px;
}
