.SearchBar {
    align-self: stretch;
    padding: 0px 40px;
    position: sticky;
    top: 0;
    display: flex;
    gap: 16px;
    border-bottom: rgba(255, 255, 255, 0.137) solid 1px;
    justify-content: space-between;
}

.searchInput {
    border: none;
    height: 56px;
}

.searchInput:focus {
    border: none;
    outline: none;
}