
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

.creatgroups {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 10px;
    z-index: 106;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff1a;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    z-index: 1000; 
}
.creatgroups  .inputToCreatGourp {
    gap: 10px;
    display: flex;
    flex-direction: column;
}


.divcreatbtn {
    justify-content: flex-end;
    gap: 10px;
    display: flex;
    width: 95%;
    height: 30%;
}

.creatbtn{
    flex-grow: 1;
    background-color: #ffffff;
    color: black;
    justify-content: center;
    width: 150px;
    height: 35px;
}

.skipbtn {
    flex-grow: 1;
    background-color: rgb(87, 86, 86);
}

.skipbtn img {
    width: 10px;
}


.filterGroups{
    display: flex;
    padding: 5px 40px;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 60px;
    border-bottom: rgba(255, 255, 255, 0.137) solid 1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;

}

.MyGroupsSpam {
    padding: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    justify-items: center;
    position: relative;
}

.GroupsNotJoinYetSpam {
    padding: 20px;
    width: 50%;
    height: 50%;
    text-align: center;
    justify-items: center;
    position: relative;
} 

.MyGroupsSpam:hover {
    background-color: #22222298;}
.GroupsNotJoinYetSpam:hover {
    background-color: #22222298;

}
 
.activeGroups::after{
    content: '';
    width: 50%;
    position: absolute;
    bottom: -1px;
    left: 25%;
    height: 4px;
    background-color: #007AFF;
    border-radius: 999px;
}



.cancel{
    background-color: none;
    margin-left: 2px;
    border-bottom:rgb(255, 35, 35) solid;

    color: rgb(255, 35, 35);

}


.msgNoGroups {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    gap: 10px;
    z-index: 106;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff1a;
    padding: 20px;
    border-radius: 12px;
    backdrop-filter: blur(10px);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    z-index: 1000; 
}
