/* about home... */
.home {
    display: flex;
}

/*about groups*/
.groups {
    width: fit-content;
    width: 100%;
}

.divallGroups {
   
}

/* Group bar container */
.groupbar {
    background-color: black;
    width: 500px;
    height: 68px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-bottom: 1px solid rgb(73, 73, 73);
}

/* Left section (arrow + text) */
.leftgroupbar {
    display: flex;
    align-items: center;
    color: white;
}

.leftgroupbar img {
    width: 20px;
}

.leftgroupbar p {
    margin: 0;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

/* Right section (button + icon) */
.rightgroupbar {
    display: flex;
    align-items: center;
    background-color: #2e7d32;
    border-radius: 8px;
    padding: 2px 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rightgroupbar:hover {
    background-color: #3d9a43; 
}

.imgplus {
    width: 20px;
    height: 15px;
    margin-right: 5px;
    filter: brightness(0) invert(1); /* makes icon white */
}

.btcreategroup {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

/* ABOUT group content*/
.groupc {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px 40px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid rgb(73, 73, 73);
}
.groupc .groupContent {
    width: 80%;
}

.groupc .groupContent h3 {
    display: flex;
    background-color: black;

}

.groupc .groupContent  .discriptiong {
    max-width: 100%;
    line-break: anywhere;
}

.groupc .groupContent .usersandpost {
    display: flex;
}

.groupc .groupContent .usersandpost img {
    padding-left: 10px;
}
.groupc .groupContent .usersandpost p {
    padding-left: 10px;
}

.groupc .buttonjoin {
    align-items: center;
    display: flex;
}
/**/

