
.date {
    font-size: 12px;
    opacity: 32%;
}
.MsgContent {
  background-color: #ffffff11;
  padding: 8px 12px;

  border-radius: 4px 16px 16px 16px;
}
.chatName {
  font-size: 14px;
  font-weight: 600;
  opacity: 80%;
}
.message {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 4px;
  max-width: 70%;
  width: fit-content;
}
.messageContainer {
  display: flex;
  align-self: flex-start;
  gap: 8px;
  max-width: 70%;
  width: fit-content;
}
.order-first {
  order: 1;
}

.order-last {
  order: 2;
}
.messageContainer.me {
  align-self: flex-end;
  justify-items: flex-end;
}

.message.me .MsgContent {
  background: #0071E3;
  border-radius: 16px 4px 16px 16px;
}
.MsgContent {
  width: fit-content;
}
.message.me {
  align-self: flex-end;
  align-items: flex-end;
  justify-items: flex-end;
}
.date {
  font-size: smaller;
}
.date.hidden {
  display: none;
}
.hidden {
  display: none;
}
