@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

.home {
    display: flex;
    position: sticky;
    flex-grow: 1;
    justify-content: center;
}

.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.homeC {
    align-self: stretch;

}

.rightProfileBtnAndEventsList {
    padding: 16px 24px;
    display: flex;
    flex-direction: column;
}
.notificationBadge {
    width: 20px;
    height: 20px;
    background: #ffffff;
    color: #000000;
    opacity: 1;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: bolder;
}

.homeP {
    flex-grow: 1;
    max-width: 600px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-right: 1px solid rgba(255, 255, 255, 0.123);
}

.pic.sm {
    width: 24px;
    height: 24px;
    border-radius: 40px;
}
.avatar32 {
    height: 32px;
    border-radius: 40px;
}
.posts {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}

.postContent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.userData {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 8px;
}

.pic.nrml {
    width: 40%;
}

h4 {
    margin: 0;
}

h5 {
    margin: 0;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.411);
    font-weight: lighter;
}

.ImagePreviewBox {
   align-self: stretch;    
}

.imagePreview {
    border-radius: 8px;
    max-width: 100px;
    max-height: 100px;
}

.preview-img {
    max-width: 100%;
    max-height: 300px;
    width: fit-content;
    border: rgba(255, 255, 255, 0.137) solid 1px;
    border-radius: 16px;
    margin-bottom: 16px;
}

.content {
    font-family: 'Inter', "sans-serif";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 15px;
    display: flex;

    color: #FFFFFF;

}

.postContent {
    flex-direction: column;
    flex-grow: 1;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE/Edge */
}

.post {
    display: flex;
    padding: 40px 40px;
    align-self: stretch;
    border-bottom: rgba(255, 255, 255, 0.137) solid 1px;
}



.sc {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-y: scroll;
    height: 100vh;
}

.post {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.creatPostForm {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    padding: 16px 40px 16px 40px;
    gap: 12px;
    background: linear-gradient(89.97deg, rgba(255, 255, 255, 0.03) 0.02%, rgba(255, 255, 255, 0) 99.97%);
    border-bottom: rgba(255, 255, 255, 0.137) solid 1px;
}

.loading {
    padding: 40px;
}
.loading2 {
    padding: 16px;
    opacity: 40%;
}
.icn {

    padding: 8px;
}

.icn:hover {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 18px;
    cursor: pointer;
}

.Myselect {
    background: none;
    color: white;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 0;
    gap: 8px;
}

.thiary {
    background: none;
    color: white;
    border: #ffffff4b 1px dashed;
}
.onlineUsers {
    padding: 24px;
}
.Myselect option {
    background: none;
}

.singlePost {
    max-width: 600px;
    align-self: stretch;
}

.Myselect:active {
    color: black;
}

.group {
    display: flex;
    gap: 16px;
}

.spB {
    display: flex;
    justify-content: space-between;

}

.FriendList {
    width: 200px;
    height: fit-content;
    max-height: 400px;
    top: 120px;
    border: 1px solid white;
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background: linear-gradient(131.15deg, #171717 0.6%, #000000 98.78%);
    border: 1px solid rgba(255, 255, 255, 0.16);
    box-shadow: 0px 32px 40px rgba(255, 255, 255, 0.12);
    border-radius: 16px;
    padding: 16px 24px 24px 24px;
}

.center {
    align-items: center;
}

.userList {
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;
    max-height: 300px;
    overflow-y: scroll;
}

.userList::-webkit-scrollbar {
    display: none;
}

.sc :-webkit-scrollbar {
    display: none;

}

.content::-webkit-scrollbar {

    display: none;

}

.card :hover {
    background: linear-gradient(131.15deg, #ffffff23 0.6%, #ffffff 98.78%);

}

.header {
    padding: 16px 40px;
    position: sticky;
    top: 0px;
    gap: 16px;
    backdrop-filter: blur(20px);
    border-bottom: rgba(255, 255, 255, 0.137) solid 1px;
}

.closeImage {
    position: absolute;
    background: #171717de;
    padding: 4px;
    border-radius: 6px;
    right: 4px;
    top: 4px;
}

.imagePrvC {
    position: relative;
    width: fit-content;
}

.icn1 {
    height: 20px;
}

.commentInput {
    position: sticky;
    width: 100%;
    padding: 16px 40px 16px 40px;
    align-self: stretch;
    top: 0;
    backdrop-filter: blur(64px);
    background-color: #171717b9;
    display: flex;
    color: white;
    gap: 16px;
    border-top: rgba(255, 255, 255, 0.137) solid 1px;
}

.reacted {
    background: #77B5F8;
    color: #007AFF;
    font-weight: bold;
}

.reacted svg path {
    fill: #007AFF;
}

.reaction:hover {
    cursor: pointer;
    opacity: 90%;
    border: #007AFF 1px solid;
}

.reactions {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 7px;
}

.reaction.dislike svg {
    transform: scaleY(-1);
}

.reaction,
.comntBtn img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 16px;
    padding: 12px 16px;
    gap: 6.69px;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 20.0816px;
}

.userCard {
    display: flex;
    gap: 16px;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #222;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.userCard:hover {
    background-color: #121212;
}

.usersList {
    display: flex;
    flex-direction: column;
}

.image-modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-img {
    max-width: 80%;
    max-height: 80%;
}

.userAvatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.userAvatar.fallback {
    background-color: #333;
}


.letterAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; 
}


.userInfo {
    flex: 1;
}

.userName {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
}

.followerCount {
    color: #888;
    font-size: 14px;
    margin-top: 2px;
}

.followedBtn {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 8px 16px;
    border-radius: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.followedBtn:hover {
    background-color: #e2e2e2;
}



.profileButton {
    height: fit-content;
    width: fit-content;
}

.avatarAndEmail{
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.avatarAndEmail:hover {
    background: linear-gradient(90.89deg, rgba(255, 255, 255, 0.06) 0.95%, rgba(255, 255, 255, 0) 100.41%);
    cursor: pointer;
}
