.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: black;
    color: white;
}

.formContainer {
    text-align: center;
    width: 300px;
}

.avatarContainer {
    margin: 20px 0;
}

.avatarLabel {
    display: inline-block;
    cursor: pointer;
}

.avatarPlaceholder {
    width: 80px;
    height: 80px;
    border: 2px dashed rgba(255, 255, 255, 0.137);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.cameraIcon {
    position: absolute;
    bottom: -10px;
    right: -10px;
    font-size: 20px;
}

.avatarImage {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    gap: 10px;
}

textarea {
    resize: none;
    height: 80px;
}

button {
    background: white;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background: #ccc;
}

.registerLink {
    margin-top: 10px;
    font-size: 12px;
}

.registerLink a {
    color: #4c8bf5;
    text-decoration: none;
}

.registerLink a:hover {
    text-decoration: underline;
}